/* Custom Color definitions */
$custom-blue:             #447099;
$custom-light-blue-1:     #d1dbe5;
$custom-light-blue-2:     #a2b8cb;
$custom-light-blue-3:     #7494b1;
$custom-dark-blue-1:      #305775;
$custom-dark-blue-2:      #213d4f;

$custom-orange:           #ee6331;
$custom-light-orange-1:   #edccbf;
$custom-light-orange-2:   #eba38c;
$custom-dark-orange-1:    #ab4d26;
$custom-dark-orange-2:    #80361c;
$custom-dark-orange-3:    #451f12;

$custom-gray:             #404041;
$custom-light-gray-1:     #c2c2c4;
$custom-light-gray-2:     #949494;
$custom-dark-gray-1:      #333333;

$custom-teal:             #419599;
$custom-light-teal-1:     #c2d9d9;
$custom-light-teal-2:     #94bdbf;
$custom-light-teal-3:     #70a3a6;
$custom-dark-teal-1:      #297075;
$custom-dark-teal-2:      #1f4f4f;
$custom-dark-teal-3:      #122b2b;

$custom-green:            #72994e;

$custom-burgundy:         #9a4665;
$custom-light-burgundy-1: #d9c4cc;
$custom-light-burgundy-2: #bf96a3;
$custom-light-burgundy-3: #a67380;
$custom-dark-burgundy-1:  #78384f;
$custom-dark-burgundy-2:  #542938;
$custom-dark-burgundy-3:  #2e171f;
